
    <div class="container2" style="margin-left:15%">
        <Center>
            <h1>About City Year Jacksonville</h1>
            <img src="~/content/images/Jacksonville.jpg" alt="LOGO" width="600" height="300" />
            <p>
                Our Jacksonville organization is led by a group of dedicated and inspiring professionals who are committed to ensuring that City Year makes significant impact in helping students who are at risk stay on track to graduate on time. Our leadership is comprised of business professionals, community leaders, and devoted alumni.
            </p>
        </Center>
    </div>
