
<br />
<br />
<br />
<br />

<html>

<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Toppings');
            data.addColumn('number', 'Slices');
            data.addRows([
                ['AmeriCorps Retention', 3],
                ['ACM Net Promoter Score', 1],
                ['Team Leaders', 1],
                ['Z2nd Year ACM', 1],
            ]);
            // Create the data table.
            var data2 = new google.visualization.DataTable();
            data2.addColumn('string', 'Topping');
            data2.addColumn('number', 'Slices');
            data2.addRows([
                ['Elected Officials', 3],
                ['Community Engagements', 1],
                ['Event Attendees', 15],
                ['Volunteers Engaged', 1],
            ]);

            var data3 = new google.visualization.DataTable();
            data3.addColumn('string', 'Quarter');
            data3.addColumn('number', 'ELA');
            data3.addColumn('number', 'MATH');

            data3.addRows([
                ['Q1', 1000, 400],
                ['Q2', 1170, 460],
                ['Q3', 860, 580],
                ['Q4', 1030, 540]
            ]);

            // Set chart options
            var options = {
                'title': 'Corps Memember Experience',
                'width': 400,
                'height': 300
            };
            // Set chart options
            var options2 = {
                'title': 'External Affairs',
                'width': 400,
                'height': 300
            };
            // Set chart options
            var options3 = {
                'title': 'SERVICE DELIVERY',
                'width': 900,
                'height': 200
            };

            // Instantiate and draw our chart, passing in some options.
            var chart3 = new google.visualization.LineChart(document.getElementById('chart_div3'));
            chart3.draw(data3, options3);
            var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
            chart2.draw(data2, options2);

            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
          

        }
    </script>
</head>

<body>
    <!--Divs that will hold the charts-->

    <div class="container2">
    </div>
            <div class="one" id="chart_div3" style="margin-left:30%"> 
            <div class="three" id="chart_div" style="margin-left:30%">
            </div>
            <div class="two" id="chart_div2" style="margin-left:30%">
            </div>
        </div>

</body>
</html>