
<center><h1>City Year Jacksonville - Dashboard Overview</h1></center>
<html>

<head>

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table. 1
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Corp Member Experience');
            data.addColumn('number', 'P');
            data.addRows([
                ['AmeriCorps Retention', 3],
                ['ACM Net Promoter Score', 1],
                ['Team Leaders', 1],
                ['2nd Year ACM', 1],
            ]);
            // Create the data table. 2
            var data2 = new google.visualization.DataTable();
            data2.addColumn('string', 'Topping');
            data2.addColumn('number', 'Slices');
            data2.addRows([
                ['Elected Officials', 3],
                ['Community Engagements', 1],
                ['Event Attendees', 15],
                ['Volunteers Engaged', 1],
            ]);

            //create the table 3
            var data3 = new google.visualization.DataTable();
            data3.addColumn('string', 'Quarter');
            data3.addColumn('number', 'ELA');
            data3.addColumn('number', 'MATH');

            data3.addRows([
                ['Q1', 1000, 400],
                ['Q2', 1170, 460],
                ['Q3', 860, 580],
                ['Q4', 1030, 540]
            ]);
            
            //table 4 
            var data4 = new google.visualization.arrayToDataTable([
                ['Goal', 'Category'],
                ['Revenue Goal', 11],
                ['Key Constituent Giving Rates', 2],
                ['Donor Retention Rate', 2],
                ['Number of Donors', 2],
            ]);

            //table 5 
            var data5 = new google.visualization.DataTable();
            data5.addColumn('string', 'Budget');
            data5.addColumn('number', 'Expense Management');
            data5.addColumn('number', 'Net Promoter Score');

            data5.addRows([
                ['Q1', 10000, 10000],
                ['Q2', 23432, 12343],
                ['Q3', 34322, 42344],
                ['Q4', 64565, 45467]
            ]);

            //table 6 
            var data6 = new google.visualization.DataTable();
            data6.addColumn('string', 'RAD');
            data6.addColumn('number', 'Progress');
            data6.addRows([
                ['Applications to Jacksonville', 415],
                ['Number of offers', 171],
                ['Number of confirmations', 111]
  
            ]);

            // Set chart options 1
            var options = {
                'title': 'CORP MEMBER EXPERIENCE',
                'width': 400,
                'height': 300
            };
            // Set chart options 2
            var options2 = {
                'title': 'EXTERNAL AFFAIRS',
                'width': 400,
                'height': 300
            };
            // Set chart options 3
            var options3 = {
                'title': 'SERVICE DELIVERY',
                'width': 400,
                'height': 300
            };

            //options 4
            var options4 = {
                title: 'Revenue',
                pieHole: 0.4,
                'width': 400,
                'height': 300
            };

            // Set chart options 5
            var options5 = {
                'title': 'OPEX',
                'width': 400,
                'height': 300
            };

            //options 6 
            var options6 = {
                'title': 'RAD',
                'width': 400,
                'height': 300
            };
            // Instantiate and draw our chart, passing in some options.
            var chart3 = new google.visualization.LineChart(document.getElementById('chart_div3'));
            chart3.draw(data3, options3);
            var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
            chart2.draw(data2, options2);

            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart.draw(data, options);


            var chart4 = new google.visualization.PieChart(document.getElementById('chart_div4'));
            chart4.draw(data4, options4);

            var chart5 = new google.visualization.LineChart(document.getElementById('chart_div5'));
            chart5.draw(data5, options5);

            var chart6 = new google.visualization.BarChart(document.getElementById('chart_div6'));
            chart6.draw(data6, options6);
        }

    </script>
</head>

<body>
    <!--Divs that will hold the charts-->

    <table class="columns" style="margin-left:12%">
            <tr><td><div id="chart_div3" style="border: 1px solid #ccc"></div></td>
            <td><div id="chart_div" style="border: 1px solid #ccc"></div></td>
            <td><div id="chart_div2" style="border: 1px solid #ccc"></div></td></tr>
        </table>

    <br />
    <table class="columns" style="margin-left:12%">
        <tr>
            <td><div id="chart_div4" style="border: 1px solid #ccc"></div></td>
            <td><div id="chart_div5" style="border: 1px solid #ccc"></div></td>
            <td><div id="chart_div6" style="border: 1px solid #ccc"></div></td>
        </tr>
    </table>

</body>
</html>